In [1]:
a=10
b=20
a
b

20

In [2]:
a=10
b=20
print(a)
print(b)

10
20

In [3]:
print(10)
print(20)

10
20

In [4]:
print(10), print(20)

10
20

(None, None)

In [5]:
10,20

(10, 20)

In [6]:
print(a,b)

10 20

In [7]:
print(30,'Naresh IT', 'HYD')

30 Naresh IT HYD

In [25]:
num1= 1000
num2=20
add= num1+num2
print("The addition of", num1, "and" ,num2, "is", add)

The addition of 1000 and 20 is 1020

In [16]:
name="Python"
age =10
city = "HYD"
print("My name is", name,"I am", age, "years old and came from", city)

My name is Python I am 10 years old and came from HYD

#### Format Method

In [19]:
name="Python"
age =10
city = "HYD"
print("My name is {}. I am {} years old and came from {}".format(name,age,city))

My name is Python. I am 10 years old and came from HYD

In [21]:
num1= 1000
num2=20
add= num1+num2
print("The addition of {} and {} is {}.".format(num1,num2,add))

The addition of 1000 and 20 is 1020.

In [ ]:
#WAP take two numbers perform the
# subtraction
# multiplication
# division
# print the statements as follows
- The subtraction of 100 and 200 is-100.
- The multiplication of 100 and 200 is 20000.
- The division of 100 and 200 is 0.5.

In [42]:
num1= 100
num2=200
add = num1 +num2
sub= num1-num2
mul = num1*num2
div = num1/num2
print("The addition of {} and {} is {}.".format(num1,num2,add))
print("The subtraction of {} and {} is {}.".format(num1,num2,sub))
print("The multiplication of {} and {} is {}.".format(num1,num2,mul))
print("The division of {} and {} is {}.".format(num1,num2,div))

The addition of 100 and 200 is 300.
The subtraction of 100 and 200 is -100.
The multiplication of 100 and 200 is 20000.
The division of 100 and 200 is 0.5.

In [ ]:
# wap take three numbers perform the average
#a,b,c
# avg = (a+b+c)/3
# print the statement
# The average of a,b,c is :avg

In [39]:
a=15
b=50
c=20
avg = (a+b+c)/3
print("The average of {},{},{} is : {}".format(a,b,c,avg))

The average of 15,50,20 is : 28.333333333333332

#### f-string method (Formatting Method String)

In [41]:
num1= 100
num2=200
add= num1 +num2
sub= num1-num2
mul = num1*num2
div = num1/num2
print(f"The addition of {num1} and {num2} is {add}.")
print(f"The subtraction of {num1} and {num2} is {sub}.")
print(f"The multiplication of {num1} and {num2} is {mul}.")
print(f"The division of {num1} and {num2} is {div}.")

The addition of 100 and 200 is 300.
The subtraction of 100 and 200 is -100.
The multiplication of 100 and 200 is 20000.
The division of 100 and 200 is 0.5.

In [44]:
a=15
b=50
c=20
avg = (a+b+c)/3
print(f"The average of {a},{b},{c} is : {avg}")

The average of 15,50,20 is : 28.333333333333332

#### Round

In [ ]:
# print()
# type()
# int()
# str()
# float()
# bool()
# round()
# ctrl+A then ctrl+/

In [52]:
print(round(34.55555))
print(round(34.55555,1))
print(round(34.55555,2))
print(round(34.55555,3))

35
34.6
34.56
34.556

In [50]:
a=15
b=50
c=20
avg = (a+b+c)/3
print(round(avg,1))

28.3

** I have multiple print statements but want to show in one line **
- We should use **end** operater

### end

In [55]:
print(10, end=" ")
print(20)

10 20

In [56]:
print(10, end=" ")
print(20, end = " ")
print(30)

10 20 30

In [57]:
print("Hello!", end =" ")
print("How", end = " ")
print("are", end = " ")
print("you ?")

Hello! How are you ?

** I have multiple values in a single print statements **
** I want to print them with some seperation **
- We use seperator opetator in this case.

In [58]:
print(10,20,30)

10 20 30

### Sep

In [59]:
print(10,20,30,sep = "===>")

10===>20===>30

In [ ]:
# wap take the radius of a circle, Calculate the area of the circle.
# Var : radius, var : pi = 3.14
# Formula : pi*radius*radius
# Print the answers using f-string and formatting string.

In [5]:
radius = 5
pi = 3.14
area = pi*radius*radius
print("The area of the circle is {}.".format(area))
print("The area of the Circle is",area)
print(f"The area of the Circle is {area}.")

The area of the circle is 78.5.
The area of the Circle is 78.5
The area of the Circle is 78.5.

In [ ]:
# Wap take the breadth and height of a right angle triangle
# calculate the atea 
# var1:breadth,  var2: height
# Formula : 0.5*breadth*height

In [3]:
breadth = 30
height = 20
area = 0.5*breadth*height
print("The area of a right angled triangle is {}.".format(area))
print("The area of a right angled triangle is",area)
print(f"The area of a right angled triangle is {area}")

The area of a right angled triangle is 300.0.
The area of a right angled triangle is 300.0
The area of a right angled triangle is 300.0

In [ ]:
#wap take the bill amount and tip amount
# calculate total bill
# var1: bill amount var2: tip amount
# Formula

In [6]:
bill_amount = 6000
tip_amount = 50
total_bill = bill_amount + tip_amount
print("The total_bill is {}.".format(total_bill))
print("The total_bill is",total_bill)
print(f"The total_bill is {total_bill}")

The total_bill is 6050.
The total_bill is 6050
The total_bill is 6050

In [ ]:
#wap take the length and breadth of a rectangle. Calculate Area
#var1: length var2:breadth
#formula: lenght*breadth

In [4]:
length = 30
breadth = 20
area = length*breadth
print("The area of the rectangle is {}.".format(area))
print("The area of the rectangle is",area)
print(f"The area of the rectangle is {area}")

The area of the rectangle is 600.
The area of the rectangle is 600
The area of the rectangle is 600

### Input
- In the above, we provided the values.
- **input** is the inbuilt function.
- Using **input**, thr user can provide any value.

In [7]:
input

### Note:
Whenever if we see bound method or function, this indicates that we forgot the the brackets.

In [8]:
input()

 34

'34'

In [9]:
input()

 Python

'Python'

In [11]:
a = input()

 200

In [12]:
print(a)
type(a)

200

str

In [13]:
b= input()

 Notebook

In [14]:
print(b)
type(b)

Notebook

str

In [15]:
n1=input()
n2=input()
n3= input()

 100
 200
 300

In [16]:
n1, n2, n3

('100', '200', '300')

In [25]:
n1=input("enter the number1:")
n2=input("enter the number2:")
n3=input("enter the number3:")
n1+n2

enter the number1: 100
enter the number2: 200
enter the number3: 300

'100200'

In [18]:
n1,n2,n3

('100', '200', '300')

In [27]:
n1+n2+n3

'100200300'

- **input** values are default string type.

In [21]:
n1=int(input("enter the number1:"))
n2=int(input("enter the number2:"))
n3=int(input("enter the number3:"))

enter the number1: 100
enter the number2: 200
enter the number3: 300

In [23]:
n1+n2+n3

600

In [32]:
str1 = input("enter the str1:")
str2 = input("enter the str2:")
str3 = input("enter the str3:")
str1 + str2 + str3

enter the str1: Apple
enter the str2: is
enter the str3: fruit

'Apple isfruit'

In [33]:
n1=input("enter the number1:")
n2=input("enter the number2:")
n3=input("enter the number3:")
int(n1)+int(n2)+int(n3)

enter the number1: 100
enter the number2: 200
enter the number3: 300

600

#### Eval
- eval means evaluate.
- It is related to math family.
- Which means it work only number represent as strings.
- It will not works on english letters.
- Eval will convert the respective data type which is user input.
- If user enter 10 in quotes, it will convert into 10.
- If user enter 10.5 in quotes, it will convert into 10.5.

In [ ]:
int('10')   # 10
int('10.5') # Error

float('10')   #10.0
float('10.5') #10.5

In [34]:
eval('10'), eval('10.5')

(10, 10.5)

In [35]:
n1=eval(input("enter the number1:"))
n2=eval(input("enter the number2:"))
n3=eval(input("enter the number3:"))
n1+n2+n3

enter the number1: 100
enter the number2: 200
enter the number3: 300

600

In [ ]:
# 1)wap ask the user enter 3 numbers n1,n2,n3 from keyboard
# calculate average.

In [38]:
n1=eval(input("enter the number1:"))
n2=eval(input("enter the number2:"))
n3=eval(input("enter the number3:"))
print((n1+n2+n3)/3)

enter the number1: 23
enter the number2: 34
enter the number3: 45

34.0

In [ ]:
# 2)wap ask the user enter name age city
# print my name is python im 10 years old and came from hyd

In [43]:
name = input("enter the name:")
age= eval(input("enter the age:"))
city =input("enter the city:")
print(f"My name is {name}, I am {age} years old and came from {city}.")

enter the name: Python
enter the age: 10
enter the city: Hyderabad

My name is Python, I am 10 years old and came from Hyderabad.

In [ ]:
# 3)wap ask the user to enter radidus of a circle calculate area of the circle
# var: radidus  var: pi=3.14
# formuale: pi*radius*radius
# print the answers using f string and format

In [1]:
radius = eval(input("Enter the  radius:"))
pi = 3.14
area = pi*radius*radius
print("The area of the circle is {}.".format(area))
print("The area of the Circle is",area)
print(f"The area of the Circle is {area}.")

Enter the  radius: 4.8

The area of the circle is 72.34559999999999.
The area of the Circle is 72.34559999999999
The area of the Circle is 72.34559999999999.

In [ ]:
# 4)wap ask the user enter breadth and height of a right angle triangle
# calculate the area
# var1: bredath  var2: height
# formuale : 0.5*breadth*heigh

In [2]:
breadth = eval(input("Enter the breadth:"))
height = eval(input("Enter the height:"))
area = 0.5*breadth*height
print("The area of a right angled triangle is {}.".format(area))
print("The area of a right angled triangle is",area)
print(f"The area of a right angled triangle is {area}")

Enter the breadth: 6.9
Enter the height: 7

The area of a right angled triangle is 24.150000000000002.
The area of a right angled triangle is 24.150000000000002
The area of a right angled triangle is 24.150000000000002

In [ ]:
# 5)wap ask the user the bill amount and tip amount
#   calculate total bill
#   var1: bill amount var2: tip amount
#   formuale

In [3]:
bill_amount = eval(input("Enter the bill_amount:"))
tip_amount = eval(input("Enter the tip_amount:"))
total_bill = bill_amount + tip_amount
print("The total_bill is {}.".format(total_bill))
print("The total_bill is",total_bill)
print(f"The total_bill is {total_bill}")

Enter the bill_amount: 12000
Enter the tip_amount: 50

The total_bill is 12050.
The total_bill is 12050
The total_bill is 12050

In [ ]:
# 6)wap ask the user the bill amount and tip percentage
#    take tip percentage as 10
#   calculate total bill= bill amount+ bill amount*tip per/100
#   var1: bill amount var2: tip amount
#    formuale

In [4]:
bill_amount = eval(input("Enter the bill_amount:"))
tip_amount = eval(input("Enter the tip_amount:"))
tip_percentage = eval(input("Enter the tip_percentage:"))
total_bill = bill_amount + tip_amount*tip_percentage/100
print("The total_bill is {}.".format(total_bill))
print("The total_bill is",total_bill)
print(f"The total_bill is {total_bill}")

Enter the bill_amount: 6000
Enter the tip_amount: 20
Enter the tip_percentage: 10

The total_bill is 6002.0.
The total_bill is 6002.0
The total_bill is 6002.0

In [ ]:
# 7)wap ask the length and breadth of a rectangle calculate area
#   var1: length  var2: breadth
#   formulae: length * breadth

In [6]:
length = eval(input("Enter length:"))
breadth = eval(input("Enter breadth:"))
area = length*breadth
print("The area of the rectangle is {}.".format(area))
print("The area of the rectangle is",area)
print(f"The area of the rectangle is {area}")

Enter length: 45
Enter breadth: 20

The area of the rectangle is 900.
The area of the rectangle is 900
The area of the rectangle is 900

In [ ]:
# 8) wap ask the user take the radius and calculate volume of sphere
#   formulae: pi*r**3(pi*r*r*r)

In [10]:
radius = eval(input("Enter the radius:"))
pi=3.14
volume_of_the_sphere = (4*(pi*radius*radius*radius))/3
print("The volume of the sphere is {}.".format(volume_of_the_sphere))
print("The volume of the sphere is", volume_of_the_sphere)
print(f"The volume of the sphere is {volume_of_the_sphere}")

Enter the radius: 7

The volume of the sphere is 1436.0266666666666.
The volume of the sphere is 1436.0266666666666
The volume of the sphere is 1436.0266666666666

In [ ]:
# 9) wap ask the user enter amount in dollars convert into rupees
#     1$=85rs

In [15]:
dollar_amount = eval(input("Enter the amount:"))
rupees = dollar_amount*85
print(rupees)

Enter the amount: 100

8500

In [ ]:
# 10)wap ask the user enter weight in kgs convert into pounds
#    1kg= 2.2pounds

In [17]:
weight_in_kgs=eval(input("Enter the weight:"))
weight_in_pounds = weight_in_kgs*2.2
print(weight_in_pounds)

Enter the weight: 25

55.00000000000001