# Variables

- Variables are used to store the data
- The data can be changed.
- These variables are used to manipulate python code.

In [2]:
number= 100
number

100

In [3]:
NUMBER = 200
NUMBER

200

In [5]:
NUMber=300
NUMber

300

In [6]:
number,NUMBER,NUMber

(100, 200, 300)

In [7]:
number123 = 400
number123

400

In [8]:
123number = 500
123number

SyntaxError: invalid decimal literal (3351802823.py, line 1)

In [9]:
number   #type first two letters and enter tab

100

** NOTE **
- Variables generally in black colour.
- Green color should not be a variables.
- Numbers as suffix can work.
- Numbers as prefix fail

In [10]:
number$ = 600
number$

SyntaxError: invalid syntax (2751311923.py, line 1)

- Special characters are not allowed

In [11]:
number one = 356
number one

SyntaxError: invalid syntax (3596576358.py, line 1)

- Space is also a special character

In [12]:
number_one = 345
number_one

345

- Underscores are only allowed to use as a variable name

In [13]:
_ = 1000
_

1000

In [ ]:
number=100  # w
NUMBER=200 # w
NUMber=300 # w
number123=400 # w
123number=500 # f
number%=600 # f
number one=700 # f
number_one=800 # w 
_=900# w

In [1]:
if = 1000

SyntaxError: invalid syntax (2202500539.py, line 1)

- Keywords cannot be used as variables.