## Data Types

- interger : int
- float 
- string
- list
- tuple
- set
- frozen set
- dictionary
- bool
- complex
- range
- byte
- byte array
- memory view
- None type

# Myth
- Only 14-15 data types are available but fact is there are vast data types in python

#### Integer :

In [1]:
number = 100
number

100

In [2]:
type(number)

int

#### Number System :
- Binary Number System
- Decimal Number System
- Octal Number Sysstem
- Hexa Number System

** Binary Number System **
- It is denoted with **0b** or **0B**
- Binary means two
- We have generally 0 to 9 digits available.
- Binary means only two digits allowed : 0 and 1
- EX: 0b101, 0b111, 0b000, 0B001 (valid)
      0b123, 0B1000012 (invalid)

In [3]:
0b1011

11

In [4]:
0b11101

29

In [5]:
0b111

7

In [6]:
0b01011

11

In [ ]:
2^2  2^1  2^0  
 4    2    1
########################
 0    0    0     0
 0    0    1     1
 0    1    0     2
 0    1    1     3
 1    0    0     4
 1    0    1     5
 1    1    0     6
 1    1    1     7

In [ ]:
2^3  2^2  2^1  2^0  
 8     4    2    1
########################
 0     0    0    0     0
 0     0    0    1     1
 0     0    1    0     2
 0     0    1    1     3
 0     1    0    0     4
 0     1    0    1     5
 0     1    1    0     6
 0     1    1    1     7
 1     0    0    0     8
 1     0    0    1     9
 1     0    1    0     10
 1     0    1    1     11
 1     1    0    0     12
 1     1    0    1     13
 1     1    1    0     14
 1     1    1    1     15

** Octal Number System **
- It is denoted with **0o** or **0O**
- Octa means 8
- We have generally 0 to 9 digits available.
- Octa means only eight digits allowed : 0,1,2,3,4,5,6,7
- EX: 0o567, 0o111, 0o000, 0o627 (valid)
      00765, 00169 (not valid)

In [9]:
0o567

375

** Hexa Number System **

- It is denoted with **0x** or **0X**
- Hexa means 16
- We have generally 0 to 9 digits  and A to F alphabets available.
- Hexa means only 16  digits allowed : 0,1,2,3,4,5,6,7,8 and A,B,C,D,E,F
- A:10, B:11, C:12, D:13, E:14, F:15
- EX: 0xabc, 0XA1 (valid) 
      0xefg (not valid)

In [1]:
0xabc

2748

#write 2025 in binary, octa and hexa number systems

#### Float

In [3]:
number= 10.5
type(number)

float

** Exponentional Number System **

In [ ]:
1e1  # 1*10 =10
1e2  # 1*100 = 100
2e3  # 2*1000 = 1000
4e4  # 4*10000 = 40000

In [12]:
print(1e+1)  # 1*10 =10
print(1e+2)  # 1*100 = 100
print(2e+3)  # 1*1000 = 1000
print(4e+4)  # 4*10000 = 40000

10.0
100.0
2000.0
40000.0

In [14]:
print(1e-1) 
print(1e-2)  
print(2e-3)  
print(4e-4)

0.1
0.01
0.002
0.0004

** Boolean**

In [2]:
val= True
val

True

In [3]:
type(val)

bool

In [4]:
val=False
type(val)

bool

** Strings **

- English format representation.
- Strings represent with quotes.
- WE can use single quotes, double quotes and also triple quotes.

In [13]:
name ="PYTHON"
name
# But the output is displayed in single quotes.

'PYTHON'

In [7]:
val='10'
type(val)

str

In [9]:
val = 10
type(val)

int

In [17]:
a="I love 'Python'"
print(a)

I love 'Python'

In [15]:
a='I love "Python"'
print(a)

I love "Python"

- Keep the entire string in "Double quotes", then highlight the word with 'Single quotes'.

#### Triple quotes

- Triple quotes can not be used in coding part.
- Triple quotes means conveying the information.
- This process is called as ** Doc String **.
- In Jupyter Notebook, we have markdown option.
- But, in VScode or Pycharm there is no markdown option.
- So, the user will convey the information by providing triple quotes.

In [19]:
true=True    # works
true='True'  # works
true=10.5    # works
True=10      # fails as keyword cannot be used as variable.
True=True    # fails

SyntaxError: cannot assign to True (3172837419.py, line 4)

In [4]:
True = 10

SyntaxError: cannot assign to True (2227483689.py, line 1)

In [5]:
True = True

SyntaxError: cannot assign to True (2452926307.py, line 1)